# Load Libraries & Data

In [1]:
!wget https://www.spataru.at/students/course_files/week2/adult_rev2.csv

--2020-11-01 18:29:32--  https://www.spataru.at/students/course_files/week2/adult_rev2.csv
Resolving www.spataru.at (www.spataru.at)... 81.19.159.92
Connecting to www.spataru.at (www.spataru.at)|81.19.159.92|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 3595716 (3,4M) [text/csv]
Saving to: ‘adult_rev2.csv’

adult_rev2.csv      100%[===================>]   3,43M  2,49MB/s    in 1,4s

2020-11-01 18:29:33 (2,49 MB/s) - ‘adult_rev2.csv’ saved [3595716/3595716]

In [1]:
import pandas as pd
import numpy as np
import plotly.express as px
from plotnine import ggplot, geom_point, aes, stat_smooth, facet_wrap

ModuleNotFoundError: No module named 'plotly'

**Load the data in a variable named df**

Tip: pd.read_csv()




The file path is "adult_rev2.csv"

**How many rows and columns does the data have?**

df.shape > (rows,columns)

**Show the first 5 rows of the data**

# Data Cleaning

**Drop the duplicates in the data**

Note: replace the current df (dataframe) with the clean df

**How many rows are left?**

**How many values are there in missing in the column workclass?**

**Drop all missing values**

Note: replace the current df (dataframe) with the clean df

**How many rows are left?**

**Is the income column inconsistent? Then fix it**

**Drop social number. How many column are there left?** 

Note: Replace the old dataframe with the new clean one

# Exploratory Data Analysis

## Univariate

**Describe Age**

**Determine the mean of the column "hours.per.week"**

**What is the diference between mean and median on capital gain?**

**How many unique workclasses?**

**How many different types of education are there?**

**How many people are divorced?**

**Histogram Age**

**Create a countplot for martial status**

## Bivariate Analysis

**How many Salesperson make a capital gain of over 80000?**

**How many rows have a capital loss and capital gain bigger than 0?**

**Answer: 1**

**Create a feature which combines capital_loss and capital_gain**

**What is the mean capital?**

**What is the median capital?**

**How many people have a capital of 0?**

**What is the percentage of people which make a capital gain of over 10000?**

**What is the occupation of the biggest capital loss?** Q

Tip: Use min() or max()

**What is the ratio between <=50K income and >50K?**

**How many people with a income >50K have a 
capital loss?**

**How manydivorced people with a income >50K have a capital gain?**

**Do a scatter plot between age and capital**

**This look unreadable. Calculate the average capital by age**

**Calculate the correlation on the whole dataframe**

**Do men make more money than women?**