# Load Libraries & Data

In [44]:
!wget https://www.spataru.at/students/course_files/week2/adult_rev2.csv

--2021-01-12 11:41:49--  https://www.spataru.at/students/course_files/week2/adult_rev2.csv
Resolving www.spataru.at (www.spataru.at)... 81.19.159.92
Connecting to www.spataru.at (www.spataru.at)|81.19.159.92|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 3595716 (3.4M) [text/csv]
Saving to: ‘adult_rev2.csv.2’

adult_rev2.csv.2    100%[===================>]   3.43M  3.85MB/s    in 0.9s

2021-01-12 11:41:50 (3.85 MB/s) - ‘adult_rev2.csv.2’ saved [3595716/3595716]

In [45]:
import pandas as pd
import numpy as np
import plotly.express as px
from plotnine import ggplot, geom_point, aes, stat_smooth, facet_wrap

**Load the data in a variable named df**

Tip: pd.read_csv()




The file path is "adult_rev2.csv"

In [46]:
df = pd.read_csv("adult_rev2.csv")

**How many rows and columns does the data have?**

df.shape > (rows,columns)

In [47]:
df.shape

(32761, 15)

**Show the first 5 rows of the data**

In [48]:
df.head()

   social_number  age workclass  ... hours_per_week  native_country income
0         717703   90       NaN  ...             40   United-States  <=50K
1         931778   82   Private  ...             18   United-States  <=50K
2         176143   66       NaN  ...             40   United-States  <=50K
3         953541   54   Private  ...             40   United-States  <=50K
4         523037   41   Private  ...             40   United-States  <=50K

[5 rows x 15 columns]

# Data Cleaning

**Drop the duplicates in the data**

Note: replace the current df (dataframe) with the clean df

In [49]:
df.size

491415

In [50]:
df.shape

(32761, 15)

In [51]:
df = df.drop_duplicates()

**How many rows are left?**

In [52]:
print(df.shape)

(32589, 15)

**How many values are there in missing in the column workclass?**

In [53]:
df.workclass.isna().sum()

1837

**Drop all missing values**

Note: replace the current df (dataframe) with the clean df

In [54]:
df = df.dropna()

**How many rows are left?**

In [55]:
df.shape

(30189, 15)

**Is the income column inconsistent? Then fix it**

In [56]:
df.income.value_counts()

<=50K            21521
>50K              5871
less than 50k     1144
more than 50k      923
over 50k           730
Name: income, dtype: int64

In [57]:
less_than = df[df.income == "less than 50k"].index

In [58]:
less_than

Int64Index([    5,    22,   125,   207,   247,   322,   335,   341,   992,
             1041,
            ...
            32403, 32406, 32411, 32429, 32471, 32473, 32595, 32616, 32624,
            32748],
           dtype='int64', length=1144)

In [59]:
df.loc[less_than, "income"] = "<=50K"

In [60]:
df.income.value_counts()

<=50K            22665
>50K              5871
more than 50k      923
over 50k           730
Name: income, dtype: int64

In [61]:
more_than = df[df.income.isin(["more than 50k", "over 50k"])].index

In [62]:
df.loc[more_than, "income"] = ">50K"

In [63]:
df.income.value_counts()

<=50K    22665
>50K      7524
Name: income, dtype: int64

**Drop social number. How many column are there left?** 

Note: Replace the old dataframe with the new clean one

In [64]:
df = df.drop("social_number",axis=1)

In [65]:
df.shape

(30189, 14)

# Exploratory Data Analysis

## Univariate

**Describe Age**

**Determine the mean of the column "hours.per.week"**

**What is the diference between mean and median on capital gain?**

**How many unique workclasses?**

**How many different types of education are there?**

**How many people are divorced?**

**Histogram Age**

**Create a countplot for martial status**

## Bivariate Analysis

**How many Salesperson make a capital gain of over 80000?**

**How many rows have a capital loss and capital gain bigger than 0?**

**Answer: 1**

**Create a feature which combines capital_loss and capital_gain**

**What is the mean capital?**

**What is the median capital?**

**How many people have a capital of 0?**

**What is the percentage of people which make a capital gain of over 10000?**

**What is the occupation of the biggest capital loss?** Q

Tip: Use min() or max()

**What is the ratio between <=50K income and >50K?**

**How many people with a income >50K have a 
capital loss?**

**How manydivorced people with a income >50K have a capital gain?**

**Do a scatter plot between age and capital**

**This look unreadable. Calculate the average capital by age**

**Calculate the correlation on the whole dataframe**

**Do men make more money than women?**