# Load Libraries & Data

In [24]:
!wget https://www.spataru.at/students/course_files/week2/adult_rev2.csv

--2020-11-03 07:53:17--  https://www.spataru.at/students/course_files/week2/adult_rev2.csv
Resolving www.spataru.at (www.spataru.at)... 81.19.159.92
Connecting to www.spataru.at (www.spataru.at)|81.19.159.92|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 3595716 (3.4M) [text/csv]
Saving to: ‘adult_rev2.csv.2’

adult_rev2.csv.2    100%[===================>]   3.43M  3.65MB/s    in 0.9s

2020-11-03 07:53:18 (3.65 MB/s) - ‘adult_rev2.csv.2’ saved [3595716/3595716]

In [25]:
import pandas as pd
import numpy as np
import plotly.express as px
from plotnine import ggplot, geom_point, aes, stat_smooth, facet_wrap

**Load the data in a variable named df**

Tip: pd.read_csv()




The file path is "adult_rev2.csv"

In [26]:
df = pd.read_csv("adult_rev2.csv")

**How many rows and columns does the data have?**

df.shape > (rows,columns)

In [27]:
df.shape

(32761, 15)

**Show the first 5 rows of the data**

In [28]:
df.head()

   social_number  age workclass  ... hours_per_week  native_country income
0         717703   90       NaN  ...             40   United-States  <=50K
1         931778   82   Private  ...             18   United-States  <=50K
2         176143   66       NaN  ...             40   United-States  <=50K
3         953541   54   Private  ...             40   United-States  <=50K
4         523037   41   Private  ...             40   United-States  <=50K

[5 rows x 15 columns]

# Data Cleaning

**Drop the duplicates in the data**

Note: replace the current df (dataframe) with the clean df

In [29]:
df = df.drop_duplicates()

**How many rows are left?**

In [30]:
df.shape

(32589, 15)

**How many values are there in missing in the column workclass?**

In [31]:
df.workclass.isna().sum()

1837

**Drop all missing values**

Note: replace the current df (dataframe) with the clean df

In [32]:
df = df.dropna()

**How many rows are left?**

In [33]:
df.shape

(30189, 15)

**Is the income column inconsistent? Then fix it**

In [34]:
df.income.value_counts()

<=50K            21521
>50K              5871
less than 50k     1144
more than 50k      923
over 50k           730
Name: income, dtype: int64

In [35]:
less_than = df[df.income == 'less than 50k'].index
less_than

Int64Index([    5,    22,   125,   207,   247,   322,   335,   341,   992,
             1041,
            ...
            32403, 32406, 32411, 32429, 32471, 32473, 32595, 32616, 32624,
            32748],
           dtype='int64', length=1144)

In [36]:
df.loc[less_than, 'income'] = '<=50K'

In [37]:
more_than = df[df.income.isin(['over 50k', 'more than 50k'])].index

In [38]:
df.loc[more_than, 'income'] = '>50K'

In [39]:
df.income.value_counts()

<=50K    22665
>50K      7524
Name: income, dtype: int64

**Drop social number. How many column are there left?** 

Note: Replace the old dataframe with the new clean one

In [40]:
df =  df.drop(["social_number"], axis=1)

In [41]:
df.shape

(30189, 14)

# Exploratory Data Analysis

## Univariate

**Describe Age**

In [44]:
df.age.describe()

count    30189.000000
mean        38.441949
std         13.135234
min         17.000000
25%         28.000000
50%         37.000000
75%         47.000000
max         90.000000
Name: age, dtype: float64

**Determine the mean of the column "hours.per.week"**

In [46]:
df.columns

Index(['age', 'workclass', 'education', 'education_num', 'marital_status',
       'occupation', 'relationship', 'race', 'sex', 'capital_gain',
       'capital_loss', 'hours_per_week', 'native_country', 'income'],
      dtype='object')

In [48]:
df.head(1)

   age workclass education  ...  hours_per_week native_country income
1   82   Private   HS-grad  ...              18  United-States  <=50K

[1 rows x 14 columns]

In [49]:
df.hours_per_week.median()

40.0

In [50]:
df.hours_per_week.mean()

40.93143197853523

In [51]:
df.hours_per_week.min()

1

In [52]:
df.hours_per_week.max()

99

In [53]:
14 - 10

4

In [54]:
a = 14
b = 10
a + b

24

**What is the diference between mean and median on capital gain?**

In [55]:
df.capital_gain.mean() - df.capital_gain.median()

1092.778859849614

**How many unique workclasses?**

In [57]:
df.workclass.unique()

array(['Private', 'State-gov', 'Federal-gov', 'Self-emp-not-inc',
       'Self-emp-inc', 'Local-gov', 'Without-pay'], dtype=object)

**How many different types of education are there?**

In [58]:
df.workclass.nunique()

7

In [59]:
len(df.workclass.unique())

7

In [61]:
len("hallo")

5

In [62]:
"hallo"[2]

'l'

**How many people are divorced?**

In [65]:
df.marital_status.value_counts()

Married-civ-spouse       14085
Never-married             9730
Divorced                  4215
Separated                  940
Widowed                    827
Married-spouse-absent      371
Married-AF-spouse           21
Name: marital_status, dtype: int64

In [66]:
df.marital_status.unique()

array(['Widowed', 'Divorced', 'Separated', 'Never-married',
       'Married-civ-spouse', 'Married-spouse-absent', 'Married-AF-spouse'],
      dtype=object)

In [67]:
df[df.marital_status == "Divorced"].shape

(4215, 14)

**Histogram Age**

**Create a countplot for martial status**

## Bivariate Analysis

**How many Salesperson make a capital gain of over 80000?**

**How many rows have a capital loss and capital gain bigger than 0?**

**Answer: 1**

**Create a feature which combines capital_loss and capital_gain**

**What is the mean capital?**

**What is the median capital?**

**How many people have a capital of 0?**

**What is the percentage of people which make a capital gain of over 10000?**

**What is the occupation of the biggest capital loss?** Q

Tip: Use min() or max()

**What is the ratio between <=50K income and >50K?**

**How many people with a income >50K have a 
capital loss?**

**How manydivorced people with a income >50K have a capital gain?**

**Do a scatter plot between age and capital**

**This look unreadable. Calculate the average capital by age**

**Calculate the correlation on the whole dataframe**

**Do men make more money than women?**